<template>
  <div id="app">
    <div class="row appheader">
      <el-autocomplete class="col-md-9 searchbar"
          v-model="state"
          :fetch-suggestions="querySearchAsync"
          placeholder="Search"
          @select="handleSelect">

            <el-select v-model="select" slot="prepend" placeholder="Select">
                <el-option label="Restaurant" value="1"></el-option>
                <el-option label="Order No." value="2"></el-option>
                <el-option label="Tel" value="3"></el-option>
            </el-select>

            <el-button slot="append" icon="el-icon-search"></el-button>

          </el-autocomplete>
      <div class="col-md-3 searchbar">
        <el-button type="primary" icon="el-icon-bell" ></el-button>
        <el-button type="primary" icon="el-icon-user" ></el-button>
        <el-button type="primary" icon="el-icon-switch-button"></el-button>
      </div>
    </div>
    <router-view class="mainSection"/>
    <div class="chatfooter">
      <el-popover
        placement="top-start"

        trigger="click" style="min-height: 30em" >
        <div class="container">
        <div class="row">
            <div class="contacts">
            </div>
            <div class="chats">

            </div>
            <el-input type="text" class="col-md-12" v-model="chatin">
              <el-button type="primary" slot="append" icon="el-icon-chat-line-square">Send</el-button>
            </el-input>
        </div>
        </div>
        <el-button type="primary"  slot="reference" icon="el-icon-chat-line-square"></el-button>
      </el-popover>
    </div>
    <div class="appfooter">
       In MGB We do business right
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
      return {
        links: [],
        state: '',
        timeout:  null,
        chatin:''
      };
  },

  beforeCreate(){

  },
  created(){
    this.chatin = '';
  },
  beforeMount(){

  },
  mounted(){

  },
  beforeDestroy(){

  },
  destroyed(){

  },
  methods:{

  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
.appheader{
    padding: 1em;
    margin-bottom: 3em;
    position: fixed;
    z-index: 999;
    width: 101%;
    background-color: #f4f4f4;
}

.appfooter{
    padding: 1em;
    margin-top: 3em;
    position: absolute;
    width: 101%;
    min-width: 3em;
    background-color: #f4f4f4;
}

.chatfooter{
    padding: 1em;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    /* top: 0; */
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: transparent;
}

.searchbar{
  margin-bottom: 1em;
  margin-top: 1em
}

.el-popper[x-placement^=top] {
    margin-bottom: 12px;
    min-height: 30em;
}
.contacts{
      overflow-y: scroll;
    background-color: #f4f4f4;
    min-height: 27em;
    margin-bottom: 1em;
    width: 20%;
}

.chats{
      overflow-y: scroll;
    background-color: #f4f4f4;
    min-height: 27em;
    margin-bottom: 1em;
    width: 80%;
}

</style>
