<template>
<div>
  <div class="container mainSection">
    <div class="row bannerSect">
      <div class="col-md-12">
        <el-carousel :interval="-1" height="400px" style="margin-top: 13em;">
            <el-carousel-item v-for="(item,index) in topBusinessLogos " :key="index">

              <img :src="item" class="elImage" style="width: 100%; height: 100%"/>

            </el-carousel-item>
          </el-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 catSect" v-for="bs in businesses" :key="bs.Id">
        <div class="row">

            <div class="col-md-6">
              {{bs.name}}
            </div>
            <div class="col-md-6">
              <el-rate
                v-model="bs.score"
                disabled
                show-score
                text-color="#ff9900">
              </el-rate>
            </div>
        </div>
        <el-carousel :interval="-1" height="400px">
          <el-carousel-item v-for="item in bs.logos" :key="item">

            <img :src="item" class="elImage" style="width: 100%; height: 100%"/>

          </el-carousel-item>
        </el-carousel>
      </div>
    </div>

    <div  class="col-md-12">
      <el-pagination
      background
      @next-click="pageChange(1,$event)"
      @prev-click="pageChange(-1,$event)"
      @current-change="pageChange(0,$event)"
      layout="prev, pager, next"
      :total="numberofPages*10">
    </el-pagination>
    </div>
  </div>
</div>
</template>

<script>

const defaultLogo =[require('../assets/logo.png')];

const eatlogos = [require('../assets/eat0.png'), require('../assets/eat1.png'),
                  require('../assets/eat2.png'), require('../assets/eat3.png')]

const diylogos = [require('../assets/diy0.png'), require('../assets/diy1.png'),
                  require('../assets/diy2.png'), require('../assets/diy3.png')];

const weblogos = [require('../assets/web0.png'), require('../assets/web1.png'),
                  require('../assets/web2.png'), require('../assets/web3.png')];

const tempLogos = [eatlogos, diylogos, weblogos];

export default {
  name: 'Intro',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      data: 'x',
      allbusinesses: [],
      topBusinessLogos: [],
      businesses:[],
      business: {},
      numberOfBusinesses: 20,
      fits: ['fill', 'contain', 'cover', 'none', 'scale-down'],
      url: defaultLogo,
      urls: [],
      eachpage: 4,
      startIdx: 0,
      numberofPages: 1,
      value: null,
      iconClasses: ['icon-rate-face-1', 'icon-rate-face-2', 'icon-rate-face-3'] // same as { 2: 'icon-rate-face-1', 4: { value: 'icon-rate-face-2', excluded: true }, 5: 'icon-rate-face-3' }
    }
  },

//////////////////////////////////////////////
  beforeCreate(){

  },
  created(){
    this.fits = ['fill', 'contain', 'cover', 'none', 'scale-down'];

    //this.url = asset;
    this.getBusinesses(function(){
      this.$forceUpdate();
    }.bind(this));
  },
//////////////////////////////////////////////
  beforeMount(){
    this.$forceUpdate();
  },
  mounted(){
  },
//////////////////////////////////////////////
  beforeUpdate(){

  },
  updated() {

  },
//////////////////////////////////////////////
  beforeDestroy(){

  },
  destroyed(){

  },
//////////////////////////////////////////////
  methods: {

    pageChange(val, $event){
      let page = $event;

      this.endIndex = this.eachpage * $event;

      this.startIdx = this.endIndex - this.eachpage;

      let temparr = this.allbusinesses
      this.businesses = temparr.filter((ele, index) => {
          if(index >= this.startIdx && index < this.endIndex){
            return ele;
          }
        });
      this.$forceUpdate();
    },

    getBusinesses (callback) {


      this.startIdx = 0;

      this.endIndex = this.eachpage;

      let idx = 0
      let lindex = 0
      for(let i = this.startIdx; i < this.numberOfBusinesses; i++){

        this.business = {
          Id: 0,
          name: "business",
          link: "/business",
          score: 5,
          logos:tempLogos[lindex]
        }

        if(idx < 5){
          this.topBusinessLogos.push(tempLogos[lindex][0])
        }
       // console.log(this.topBusinessLogos);
        idx++;
        this.business.Id = i;
        this.business.name = `business ${i}`;
        this.business.link = `business_${i}`;
        this.business.score = 5;

        this.business.logos = tempLogos[lindex];

        this.allbusinesses.push(this.business)
        if(i < this.endIndex - 1){
          this.businesses.push(this.business);
        }

        if(lindex >= tempLogos.length){
          lindex = 0;
        }else{
          lindex++;
          if(lindex >= tempLogos.length)
            lindex = 0;
        }

      }

      if(this.numberOfBusinesses > this.eachpage){
        this.numberofPages = this.numberOfBusinesses % 6 > 0
        ? Math.trunc(this.numberOfBusinesses / 6) + 1
        : Math.trunc(this.numberOfBusinesses / 6);

        let tempArr = this.allbusinesses;
        this.businesses = tempArr.filter((ele, index) => {
          if(index < this.endIndex){
            return ele;
          }
        });
      }

      callback();
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  .el-image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .el-image img {
    width: 100%;
    height: 100%;
  }

  .banner {
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .bannerSect{
    margin-bottom: 3em;
  }
  .catSect{
    margin-bottom: 1em;
  }
</style>
